.table-container {
    width: 80%;
    margin: 60px auto;
}

.table-options {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 3rem;
}
table {
    width: 80%;
}




// function createData(
//   _id: number,
//   username: string,
//   fullname: string,
//   email: string,
//   createAt: number
// ): Data {
//   return {
//     _id,
//     username,
//     fullname,
//     email,
//     createAt,
//   };
// }

// const rows = [
//   createData(1, "johndoe", "John Doe", "johndoe@example.com", Date.now()),
//   createData(
//     2,
//     "janedoe",
//     "Jane Doe",
//     "janedoe@example.com",
//     Date.now() + 1000
//   ),
//   createData(
//     3,
//     "alicew",
//     "Alice Wonderland",
//     "alice@example.com",
//     Date.now() + 2000
//   ),
//   createData(
//     4,
//     "bobsmith",
//     "Bob Smith",
//     "bobsmith@example.com",
//     Date.now() + 3000
//   ),
//   createData(
//     5,
//     "charlieb",
//     "Charlie Brown",
//     "charlieb@example.com",
//     Date.now() + 4000
//   ),
// ];